.local/

# mdbook build directory
docs/book/

# Cargo build directories
debug/
target/

# Cargo lockfiles are ignored in libraries
Cargo.lock

# rustfmt backup files
**/*.rs.bk

# rustc debugging information, MSVC
*.pdb
